<!DOCTYPE html>
<html>
 <head>
  <title>WhatsApp History</title>
  <style type="text/css">
    @import url("style.css");
  </style>
 </head>
 <body>
  <header>
   <h1>WhatsApp History</h1>
  </header>
  <section id="messages">
    {{#messages}}
      <div>
        <div class="author">{{author}}</div>
        <div class="timestamp">{{timestamp}}</div>
        <div class="message">{{message}}</div>
      </div>
    {{/messages}}
  </section>
 </body>
</html>
