{
	displayName = HTML;
	"attachmentHandlingStyle" = move;
	templates = (
		{
			name = message;
			saveStyle = intermediate;
			repetitionFrequency = each;
			processingOrder = normal;
		},
		{
			name = index;
			saveStyle = final;
			repetitionFrequency = once;
			processingOrder = last;
		},
	);
}